---
title:    'Design system in React Native —From zero to hero'
layout:   presentation
noindex:  false
---

| ### Design system in React Native <br> —From zero to hero

  React Meetup — Bordeaux

  _February 2021_

  ---

  > Don’t code your CSS for the page.
  > Code for the system.
  > —Jonathan Snook

  --

  ### 2007

  ![](/assets/images/react-native-restyle/art-css.png)

  --

  ### Web Developpers

  ![](/assets/images/react-native-restyle/css.gif)

  --

  ### CSS in 2010-ish

  - 😕 Global scope
  - 😬 Grid without flexbox
  - 🧐 Web browsers engines `Gecko`, `Trident`, `Webkit`…

  --

  ### 2012

  ![](/assets/images/react-native-restyle/rails-sass.png)

  --

  ### Preprocessing FTW

  - ✅ Variables
  - ✅ Nesting
  - 📦 BEM
  - 📦 SMACSS
  - 📦 Atomic Design

  --

  ### 2015

  React and React Native

  --

  ### Styling in React

  ![](/assets/images/react-native-restyle/react-style.png)

  --

  ### React Native

  We Do `CSS-in-JS`

  --

  ### Styling in React Native

  - ⭐ Write `CSS` in `JavaScript` syntax
  - 📦 Colocate styles with components
  - 🌗 Take advantage of anything from the JS ecosystem

  --

  # Guess what happened?

  --

  ### Developpers with React Native

  ![](/assets/images/react-native-restyle/css.gif)

  ---
= partial 'layouts/presentation/speaker'
| <div></div>
  ---

  ## Mentions ❤️ [@flexbox_](https://twitter.com/flexbox_)

  Save the link

  http://bit.ly/rn-design

  --

  ## Why ?

  Become a hero…

  ![](/assets/images/react-native-restyle/hulk-ultron.jpg)

  --

  ### Epic fail

  …not a zero

  ![](/assets/images/react-native-restyle/hulk2003.jpg)

  --

  ## Today we will be covering

  📕

  - Scaling Typography
  - The importance of a color palette
  - Theming
  - Introduce a tool to design effectivelly

  ---

  # Who are you?

  --

  ![](/assets/images/react-native-restyle/qr-game.png)

  --

  ### https://www.wooclap.com/HULK

  --

  https://app.wooclap.com/events/HULK/0

  ---

  # TYPESCRIPT

  --

  Avoid cognitive overload

  ![](/assets/images/react-native-restyle/overload.gif)

  ---

  # TYPOGRAPHY

  ---

  # COLORS

  --

  ### Designers x Developers

  ![](/assets/images/react-native-restyle/hulk-ironman.gif)

  --

  ### Anatomy of a good palette

  - https://getbootstrap.com/docs/5.0/customize/color/
  - https://tailwindcss.com/docs/customizing-colors
  - https://colors.eva.design/

  ---

  # THEMING

  ---

  > Don’t code your `CSS-in-JS` for the screen.
  > Code for the system.
  > —David Leuliette

  --

  ## You want to have a big picture about the React Native ecosystem

  ![](/assets/images/react-native-restyle/road-to-react-native.jpg)

  https://davidl.fr/road-to-react-native

  --

  ## Q&A [@flexbox_](https://twitter.com/flexbox_)

  🤖

  https://davidl.fr/road-to-react-native
