---
title:    'Road to React Native Book'
layout:   presentation
noindex:  false
---

| ### Publish your first book <br> as a Indie Hacker

  Lunch & Learn - CodeControl

  _January 2021_

  ---

  # The Bucket List

  ![](https://upload.wikimedia.org/wikipedia/en/2/20/Bucket_list_poster.jpg)

  --

  ### Do crazy stuff

  ![](/assets/images/book/plane.jpg)

  --

  ### My Bucket List

  ![](/assets/images/book/list.png)

  --

  ![](https://images.unsplash.com/photo-1544716278-e513176f20b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1867&q=80)

  ---
= partial 'layouts/presentation/speaker'
| <div></div>
  ---

  ## Mentions ❤️ [@flexbox_](https://twitter.com/flexbox_)

  Save the link

  http://bit.ly/write-a-book-the-indie-hacker-way


  --

  ## Why ?

  ![](/assets/images/book/forge.png)

  --

  ### Epic fail

  - 🚫 never finished
  - 🚫 nobody reads it
  - 🚫 no momentum

  --

  ## Today we will be covering

  📕

  - Create
  - Distribute
  - Automate
  - Repeat

  ---

  # WRITE

  --

  > First, I need to find the perfect tool to write

  --

  ### Text Editor For The Win

  🤓

  [Slides content on GitHub](https://github.com/flexbox/courses/blob/master/source/presentations/book/index.html.slim)

  --

  ### Minimalist tools to write a book

  - 😑 Word, Pages, ...
  - 😑 Grammarly, Google docs, ...
  - 😑 Sublime Text, ...

  --

  ### [Ulysses App](https://ulysses.app/)

  ![](https://miro.medium.com/proxy/1*oByKTwIYhjRmD10zifzhRQ.png)

  --

  # DEMO

  Export to whatever

  --

  > I can finally write my book!

  ⌛

  _23 December 2020_

  --

  I spent almost 10 minutes writing down this summary:

  - JavaScript syntax
  - React syntax
  - JavaScript Language
  - Data Structures
  - General APIs
  - Other Features
  - TypeScript
  - Front-end Frameworks
  - Data Layer
  - Back-end Frameworks
  - Testing
  - Build tools
  - Other tools
  - Resources

  --

  ### I wrote as fast as I could

  ![](https://miro.medium.com/proxy/1*oByKTwIYhjRmD10zifzhRQ.png)

  --

  > There is no point to continue working on the content if nobody is interested.

  ---

  # DESIGN

  --

  ### [Figma](https://www.figma.com/)

  You need assets for:

  - Book Cover
  - Logo
  - Banner
  - Social media post

  --

  ### The Roadmap to Become a React Native Developer

  ![Figma create book cover](https://miro.medium.com/max/700/1*gMzdgWZ24PbGUs3K43SpwA.gif)

  - `F`: create a new frame
  - `T`: add a text

  --

  ### Ship it

  ![](https://miro.medium.com/proxy/1*clMODgoCQyDAMhJR8_Rm5Q.png)

  --

  ### [Preview](https://www.figma.com/file/0hlIFXP2WPVeFUGXMYFlvN/new.davidl.fr?node-id=555%3A95)

  ![](https://miro.medium.com/proxy/1*QNiKvBmaa0K3Qe-VaFbq6Q.png)

  ---

  # DISTRIBUTION

  --

  ### Logistic is complex

  🚚✨

  - Payments
  - Refunds
  - Analytics

  --

  ### [Gumroad](https://gumroad.com/features)

  - Export the content from Ulysses as `.pdf` and `.epub` and import the files
  - Add a nice cover from Figma
  - Define a random pricing

  --

  ### Landing page

  - https://gum.co/road-react-native
  - https://davidl.fr/road-to-react-native

  --

  ### Start a conversation with Loom

  ![](/assets/images/book/loom.png)

  --

  ### Add some real time KPI

  1. Gumroad
  1. Zapier
  1. Slack

  --

  ### Connect Zapier and Gumroad

  ![](https://miro.medium.com/proxy/1*t4tqWk6KDJdLdta1HStjYg.png)

  --

  ### Get real time updates on your sales

  ![](https://miro.medium.com/proxy/1*XcTqV5ofPHZZDt2Eb_dvAQ.png)

  ---

  # GROWTH

  ---

  ## Recap

  --

  - [Ulysses App](https://go.setapp.com/invite/ibubjrhl)
  - Figma
  - [Gumroad](https://gumroad.com/signup?referrer=flexbox)
  - Zapier
  - Slack
  - [Airtable](https://airtable.com/invite/r/C9rp2zWJ)

  ---

  ## You want to have a big picture about the React Native ecosystem

  https://davidl.fr/road-to-react-native

  --

  ## Q&A [@flexbox_](https://twitter.com/flexbox_)

  🤖

  https://davidl.fr/road-to-react-native
