---
title:    'Road to React Native Book'
layout:   presentation
noindex:  false
---

| ### Your freelancing on Autopilot

  Lunch & Learn - CodeControl

  _January 2021_

  ---

  # The Bucket List

  ![](https://upload.wikimedia.org/wikipedia/en/2/20/Bucket_list_poster.jpg)

  --

  ![](/assets/images/book/list.png)

  --

  ![](https://images.unsplash.com/photo-1532012197267-da84d127e765?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1268&q=80)

  ---
= partial 'layouts/presentation/speaker'
| <div></div>
  ---

  ## Mentions ❤️ [@flexbox_](https://twitter.com/flexbox_)

  Save the link

  http://bit.ly/freelance-airtable

  --

  ## Why ?

  ![](/assets/images/book/forge.png)

  --

  ## Today we will be covering

  - Create
  - Distribute
  - Automate

  ---

  ## Recap

  --

  - [Ulysses App](https://go.setapp.com/invite/ibubjrhl)
  - Figma
  - [Gumroad](https://gumroad.com/signup?referrer=flexbox)
  - Zapier
  - Slack
  - [Airtable](https://airtable.com/invite/r/C9rp2zWJ)

  ---

  ## You want to have a big picture about the React Native ecosystem

  https://davidl.fr/road-to-react-native

  --

  ## Q&A [@flexbox_](https://twitter.com/flexbox_)

  🤖

  https://davidl.fr/road-to-react-native
