---
title:    'Static websites in the era of Headless CMS'
layout:   presentation
noindex:  false
---

| ### Your freelancing on Autopilot

  Code Control

  _April 2020_

  ---
= partial 'layouts/presentation/speaker'
| <div></div>
  ---

  ## Mentions ❤️ [@flexbox_](https://twitter.com/flexbox_)

  Save the link

  http://bit.ly/david-gatsby

  --

  ## Today we will be covering

  - A landing page that win
  - Airtable as a backend
  - Working as a plumber
  - Marketing Automation

  ---

  ## The biggest concerns as a freelance

  🤔

  --

  ## Find new clients

  ![](/assets/images/freelance/serges.gif)

  --

  ## YOLO

  👨‍💻

  Everything is gonna be fine

  --

  ## Murphy’s law

  🦠

  I lost __66.66% of my clients in one day__.

  --

  ### Let’s automate our next leads onboarding

  ![](https://images.prismic.io/davidl/54dee8ed-429c-47ed-8c5f-fef52a0883fd_austin-distel-4r72LPFh4Ik-unsplash.jpg?auto=compress,format&rect=0,437,6720,3612&w=800&h=430)


  ---

  ## Step 1: The landing page

  --

  ### Create a relevant and impactful speech:

  - __Why?__ Why did you create this service to help customers in their life?
  - __How?__ Why are you the right person?
  - __What?__ The product/service you are selling
  - __Call to action__  with something valuable like a free consultation

  --

  ### Create a relevant and impactful speech:

  https://davidl.fr have a call to action to /onboarding

  --

  The email template

  ```
  Hello {name},

  Thank you for contacting me. I am working remotely as a freelance developer.

  In terms of timeline, I am currently accepting new projects for {current_date + 3 month}.

  If you want to keep in contact, I created a small website for our next collaboration.
  https://davidl.fr/onboarding

  You will be the first informed when I’m available again.

  Hoping to hear from you,
  ```

  --

  ✅ A landing page for new leads

  ---

  ## Step 2: Airtable as a backend / database / CRM

  --

  ### A spreadsheet on steroïd

  ![](https://cleanshot-cloud-fra.s3.eu-central-1.amazonaws.com/media/280/T9brjQw2ZXKOIg9b3OwQox7vBPe6HlpL8rhIBrAW.jpeg?X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA5MF2VVMNBYBOTT5A%2F20200428%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Date=20200428T152955Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Signature=a9b48d40ae9c7d62c444899c04e3d542e3c06787afe5d0dc67bbaeef5c2a049e)

  --

  ### Create a new empty base

  ![](https://images.prismic.io/davidl/7182e391-8f24-4dcc-8011-d9e9d716a64f_leads-database.png?auto=compress,format)

  --

  ### Protip with Single select

  ![](https://images.prismic.io/davidl/0bfe41f9-68b7-49dc-88a6-022835c35bb3_2020-04-21+18.02.12.gif?auto=compress,format)

  --

  - ✅ A landing page for new leads
  - ✅ __A single source of truth for the datas__

  ---

  ## Step3: Collect leads with a form

  --

  ### Create a new form view

  ![](https://images.prismic.io/davidl/6fc460e5-6a0b-40ce-89fc-16a06c6d5e5c_2020-04-21+18.47.59.gif?auto=compress,format)

  --

  ### 💥 A form in a second

  I added an `iframe` on https://davidl.fr/onboarding

  --

  - ✅ A landing page for new leads
  - ✅ A single source of truth for the datas
  - ✅ __A way to ask questions__

  ---

  ## Step4: Plumbing

  --

  ### During the week

  I am working on my client's projects.

  ![](/assets/images/freelance/hacking.gif)

  --

  ### I need to automate the follow-ups

  👨‍💼

  --

  ### Sending emails with Mailchimp?

  🐵

  --

  ### Introducing Zapier

  ![](https://images.prismic.io/davidl/0ff558af-1c32-459a-b083-dacfafcfaf94_zapier-airtable-mailchimp.png?auto=compress,format)

  --

  ### Add Airtable email to Mailchmp

  ![](https://images.prismic.io/davidl/20f55caa-0bdb-427f-93dd-78fe7e4355a3_CleanShot+2020-04-27+at+16.47.23.png?auto=compress,format)

  --

  You can copy my zap workflow: [Freelancing Sales Funnel with this link](https://zapier.com/shared/e8615b6c3b4522ab311c896d90a9515929dff98b).

  --

  When a new lead completes the Airtable form…
  ![](https://images.prismic.io/davidl/f301e5e0-5215-4ec8-8291-c3ce5939fa5a_CleanShot+2020-04-27+at+17.07.01.png?auto=compress,format)
  …the email is available on Mailchimp
  ![](https://images.prismic.io/davidl/f3d19bdf-95b6-4b7d-915f-3b7b4351a59f_CleanShot+2020-04-27+at+17.02.59.png?auto=compress,format)

  --

  - ✅ A landing page for new leads
  - ✅ A single source of truth for the datas
  - ✅ A way to ask questions
  - ✅ __An emailing platform__

  ---

  ## Step5: Marketing automation

  --

  ### Freelancing email nurturing

  ![](https://images.prismic.io/davidl/20b6004e-c245-4bf3-8209-8b0d3a6b953e_CleanShot+2020-04-28+at+15.20.13.png?auto=compress,format)

  --

  ### Design your emails template

  - ✉️ Email 1: Introduction
  - ✉️ Email 2: Link to calendar
  - ✉️ Email 3: Follow-up

  --

  ### Plain emails save time and work better

  ![](https://images.prismic.io/davidl/b73dc5a4-0384-4c48-a3c3-72991e7ce96a_mailchimp-template.png?auto=compress,format)

  --

  ### Email 2: follow-up

  ![](https://cleanshot-cloud-fra.s3.eu-central-1.amazonaws.com/media/280/6ABjhOLEExJdJNXc9BHzFlBNfFTXNqXVLEjHOmdL.jpeg?X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA5MF2VVMNBYBOTT5A%2F20200428%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Date=20200428T164816Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Signature=079da1fd123e502098a08f27d302d7a589c00bd522b307e214dc63ba7da5099d)

  --

  ### Create your sales funnel

  - ✉️ Trigger: Immediately
  - ✉️ Trigger: 1 day after the previous email
  - ✉️ Trigger: 2 days after subscribers do not open previous email

  --

  ### Mailchimp Automated campaign

  ![](https://images.prismic.io/davidl/d24639ff-4964-4403-96fb-603468ecf189_2020-04-28+16.10.17.gif?auto=compress,format)

  --

  - ✅ A landing page for new leads
  - ✅ A single source of truth for the datas
  - ✅ A way to ask questions
  - ✅ An emailing platform
  - ✅ __A sales funnel__

  ---

  ## Step6: Digital secretary

  ---

  ### Scheduling is hard

  ![](/assets/images/freelance/serges.gif)

  --

  ### Protip: ask the phone as a fallback

  ☎️

  --

  ### Use Calendly for the calendar

  https://davidl.fr/consultation

  --

  ### Whereby for the video call

  https://whereby.com/davidl-consultation

  --

  - ✅ A landing page for new leads
  - ✅ A single source of truth for the datas
  - ✅ A way to ask questions
  - ✅ An emailing platform
  - ✅ A sales funnel
  - ✅ __A calendar to book event__
  - ✅ __One friction free place to have a video chat__

  ---

  ## Recap

  --

  - __Airtable__ as a database for the CRM
  - __Zapier__ to connect data to different services
  - __Mailchimp__ for the automated sales funnel
  - __Calendly__ as digital secretary
  - __Whereby__ for the video call

  ---

  ## Q&A [@flexbox_](https://twitter.com/flexbox_)

  Save the link

  http://bit.ly/david-gatsby
