---
title:    'Productivity and automation for hackers'
layout:   presentation
noindex:  false
---

| # Productivity and Automation for H4CK3RS

  Codecontrol - August 2020

  ---
= partial 'layouts/presentation/speaker'
| <div></div>
  ---

  ## Today we will be covering

  - The forgotten clipboard tool
  - Seach in the XXI century
  - Automate your digital life

  ---

  ## WHY

  --

  Eric Steven Raymond

  🤓

  ![](/assets/images/automation/eric.jpg)

  --

  ### [Become a hacker](http://www.catb.org/~esr/faqs/hacker-howto.html)

  ![](/assets/images/automation/how-to-become-hacker.png)

  --

  ### [Become a hacker](http://www.catb.org/~esr/faqs/hacker-howto.html)

  - The world is full of fascinating problems waiting to be solved.
  - No problem should ever have to be solved twice.
  - Boredom and drudgery are evil.
  - Freedom is good.
  - Attitude is no substitute for competence.

  --

  ### [Become a hacker](http://www.catb.org/~esr/faqs/hacker-howto.html)

  - ~~The world is full of fascinating problems waiting to be solved.~~
  - __No problem should ever have to be solved twice.__
  - ~~Boredom and drudgery are evil.~~
  - ~~Freedom is good.~~
  - ~~Attitude is no substitute for competence.~~

  --

  ![](/assets/images/automation/focus.gif)

  --

  ### [Attention span](https://en.wikipedia.org/wiki/Attention_span)

  The amount of __concentrated time a person can spend on a task__ without becoming distracted.

  <br>

  👨👩

  _Adult 10 to 20 minutes_

  --

  ### Brain battery

  <br>

  🧠🔋

  - Creative brains are a valuable, __limited resource__
  - Focus on __time well spent__, automate boring stuff

  --

  ### Batch Driven Development

  ![](/assets/images/automation/context-switching.gif)

  --

  ![](/assets/images/automation/captain-automation.png)

  --

  ### Alfred is here to cover your back

  ![](/assets/images/automation/alfred.jpg)

  --

  ### Alfred app

  ![](/assets/images/automation/aldredapp.png)

  --

  ###  only

  **Linux** - [albert](https://github.com/albertlauncher/albert)

  **Windows** - [wox.one](http://www.wox.one/)

  ---

  ### How many times`/day` <br /> are you using the clipboard?

  <small></small>

  --

  ### How many times`/day` <br /> are you using the clipboard?

  <small>In my case it's, around 90 times</small>

  --

  __Real life example__

  <br>

  👨‍💻📓

  --

  > Context switching is ruining your productivity

  ![](/assets/images/automation/interrupt.png)

  --

   ## Clipboard in the XXI century

  - Copy one item at a time
  - Information flows in only one direction

  --

  ### Clipboard History

  ![](/assets/images/automation/alfred-clipboard.png)

  --

  ### Clipboard History

  `Option` + `Cmd` + `c`

  --

  # DEMO TIME

  - text search
  - `Image:`

  --

  ### Clipboard Snippets

  ![](/assets/images/automation/alfred-snippets.png)

  --

  ### Clipboard Snippets

  `Option` + `Cmd` + `c` > `All Snippets`

  --

  # DEMO TIME

  - `SIRET`
  - `Release note`

  --

  ### Create snippets with `keywords`

  ![](/assets/images/automation/alfred-snippet-keyword.png)

  --

  ### snippet auto-expansion

  ![](/assets/images/automation/alfred-snippet-expand.png)

  --

  # DEMO TIME

  `!dl` or `!df` - https://autopilot.rocks/

  --

  # DEMO TIME

  `!onboarding`

  --

  Create snippets with variables `{time}`, `{date}` and `{clipboard}`

  --

  # DEMO TIME

  - `!tinchalet` exploit for [Tinder](https://blog.usejournal.com/tinder-hack-b004037128c)
  - `!job` exploit for [LinkedIn](https://blog.usejournal.com/tinder-hack-b004037128c)

  --

  ![](/assets/images/automation/alfred-snipet-job.png)

  --

  ### Clipboard Merging

  ![](/assets/images/automation/alfred-clipboard-merging.png)

  --

  ### Clipboard Merging

  Hold `Cmd` and double-tap `C` (`Cmd` + `C` + `C`)

  ![](/assets/images/automation/copy-and-merge.gif)

  ---

  ## Search

  --

  ###  Millennial Vs. Librarian

  ![](/assets/images/automation/sister.jpg)

  --

  ![](/assets/images/automation/desktop-chaos.png)

  --

  ### 😱
  <br>

  > Why don’t you organise your files in folders!

  --

  ![](/assets/images/automation/folders.png)

  --

  ### 🔍

  > I am not losing my time on organising files
  > <br>
  > I have __a search bar__, old man

  --

  ![](/assets/images/automation/millennial.png)

  --

  What if we can have __Google search for the OS__?

  ![](/assets/images/automation/search-os.gif)

  --

  On macOS we have spotlight…

  `Cmd` + `Space`

  --

  …But it's bloody slow

  --

  ![](/assets/images/automation/keyboard-spotlight.gif)
  ![](/assets/images/automation/keyboard-alfred.gif)

  --

  We need __spotlight on steroïds__

  --

  ![](/assets/images/automation/alfred-spotlight.png)

  --

  ### ⚡

  Keyboard Best Protip Ever

  --

  ![](/assets/images/automation/keyboard-slow.png)

  --

  ![](/assets/images/automation/keyboard-fast.png)

  --

  ![](/assets/images/automation/keyboard-slow.gif)
  ![](/assets/images/automation/keyboard-fast.gif)

  --

  ### Open alfred
  <br>

  🦄

  `Cmd` + `Space`

  - `unicorn` on wikipedia
  - `unicorn` on amazon

  --

  ### Search
  <br>

  🦄

  - youtube `{query}`
  - maps `{query}`
  - imdb `{query}`

  --

  ### Custom Search
  <br>

  🤯

  - `m {query}` for `.mindnode` files

  ---

  ## Workflow

  --

  Do you like cats?

  <iframe width="760" height="515" src="https://www.youtube.com/embed/QiXJtjNea1A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  --

  I prefer dogs

  Because they `fetch`

  --

  __Real life example__

  <br>

  ✍‍💻

  <br>

  [https://davidl.fr/](https://davidl.fr/)

  --

  ### DEMO TIME

  Dog `{query}`

  --

  ## How to make a workflow

  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/4_cPmdcquB4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  --

  ## How to make a workflow

  1. `q={query}`
  1. `sitesearch=https://davidl.fr`

  ![](/assets/images/automation/alfred-workflow-introduction.png)

  --

  ### Package manager

  - npm `{query}`
  - gems `{query}`
  - hex `{query}`

  --

  ### GitHub Fast Jump

  - gh `{query}`
  - gh my…

  --

  ### Icons Search

  fa `{query}`

  mdi `{query}`

  --

  # DEMO TIME

  with `index.html`

  --

  ### Use Alfred to search Alfred

  `?maps`

  --

  Being a developer in the XXI century

  --

  ![](/assets/images/automation/copy-paste.jpg)

  --

  [developer.mozilla.org](https://developer.mozilla.org/en-US/)

  ![](/assets/images/automation/mdn.png)

  --

  ### Dash

  - 200+ __offline__ docsets
  - Instant, __fuzzy__ search (e.g. `bgcp` brings up `background-clip`)

  ![](/assets/images/automation/dashapp.png)

  --

  ### Alfred + Dash = 😍

  dash `{query}`

  --

  ### Alfred + Dash = ⚡

  - bt `{query}`
  - _ `{query}`
  - rn `{query}`

  --

  ### Dealing with 3 browsers

  - `mail` _(work)_
  - `inbox` _(personal)_
  - `ios` _(work)_
  - `android` _(work)_

  --

  __Real life example__

  <br>

  🕵️‍♀️

  https://www.appcues.com/user-onboarding-academy

  --

  ### Guerrila mail

  TMP email

  --

  ### Sandbox env

  `pr 2921` Pull request on heroku

  --

  ### kill a process

  `kill` Google

  ---

  ## Automation that makes me happy

  --

  ### Search files/folder _—but fast_

  `' {query}`

  --

  ### Email your contacts _—but fast_

  email `Kevin`

  --

  ### Zapier

 	Task automation tool for connecting API's

  --

  ### Alfred + Zapier = ⚡

  --

  [Onboarding new employee](https://www.linkedin.com/pulse/how-growth-hacking-mindset-automation-tools-can-your-david-leuliette/)

  ![](/assets/images/automation/onboarding.jpeg)

  --

  Zap `{email}`

  ![](/assets/images/automation/zapier-email.png)

  --

  receipt `{clipboard:1}` image

  ![](/assets/images/automation/zapier-airtable.png)

  --

  ### Alfred clipboard + [Airtable](https://airtable.com/invite/r/C9rp2zWJ) + Zapier = Mailchimp

  [Automating new clients leads](https://davidl.fr/blog/freelance-airtable-autopilot)

  --

  ### TODO: Edit the talk github repo

  --

  ![](/assets/images/automation/harrypotter.png)

  --

  ## Protips

  ### ✌

  --

  Automation is like a child,<br>
  You need to take care because sometimes it breaks

  --

  Don’t destroy the internet,<br>
  becarefull of infinite loops

  --

  Your __time is a limited__, valuable ressource<br>
  Focus on __time well spent__, automate boring stuff

  ---

  ## Q&A [@flexbox_](https://twitter.com/flexbox_)

  Share the link

  http://bit.ly/automation-hacker
